<h1> Cleaning Up Dataset For Clustering <h1>

In [1]:
# import libraries needed
import pandas as pd

In [2]:
# loading df using pandas
movement_df = pd.read_csv("../DineOutSynthetic/movements.csv")

print(movement_df)

                    datetime    id   longitude   latitude
0        2020-01-01 00:00:00  I000 -122.335167  47.608013
1        2020-01-01 00:01:07  I000 -122.335168  47.608002
2        2020-01-01 00:02:30  I000 -122.335169  47.608598
3        2020-01-01 00:03:40  I000 -122.335168  47.608501
4        2020-01-01 00:05:07  I000 -122.335169  47.607648
...                      ...   ...         ...        ...
5260825  2029-12-31 23:56:32  I009 -122.409557  47.594471
5260826  2029-12-31 23:57:38  I009 -122.409557  47.594432
5260827  2029-12-31 23:58:09  I009 -122.409557  47.594305
5260828  2029-12-31 23:59:20  I009 -122.409557  47.594445
5260829  2030-01-01 00:00:32  I009 -122.409558  47.594986

[5260830 rows x 4 columns]

In [3]:
# split the datetime column into two columns at the space
movement_df[["date", "time"]] = movement_df["datetime"].str.split(" ", expand=True)

# remove the datetime column
movement_df = movement_df.drop("datetime", axis=1)

print(movement_df)

           id   longitude   latitude        date      time
0        I000 -122.335167  47.608013  2020-01-01  00:00:00
1        I000 -122.335168  47.608002  2020-01-01  00:01:07
2        I000 -122.335169  47.608598  2020-01-01  00:02:30
3        I000 -122.335168  47.608501  2020-01-01  00:03:40
4        I000 -122.335169  47.607648  2020-01-01  00:05:07
...       ...         ...        ...         ...       ...
5260825  I009 -122.409557  47.594471  2029-12-31  23:56:32
5260826  I009 -122.409557  47.594432  2029-12-31  23:57:38
5260827  I009 -122.409557  47.594305  2029-12-31  23:58:09
5260828  I009 -122.409557  47.594445  2029-12-31  23:59:20
5260829  I009 -122.409558  47.594986  2030-01-01  00:00:32

[5260830 rows x 5 columns]

<h2> How accurate does lat long need to be? Can we round? </h2>
<p> So, as you can see from the table below, a lat/long rounded up to a single decimal place can accurately identify a country or region, whereas rounded up to two could identify a large city or district. But five decimal places can accurately hone in on an individual tree, and six can identify a person. </p>
<a> https://blis.com/precision-matters-critical-importance-decimal-places-five-lowest-go/ </a>
<p> Therefore; we can round down to 4 if needed as it "Can identify an individual street or parcel of land" and has a distance of 11.1 meters. </p>

In [4]:
# there's 10 different id's for data
# making the assumption that every id corresponds to a different user, we are going to split the data into each respective user
print(movement_df.groupby("id").count())

      longitude  latitude    date    time
id
I000     526488    526488  526488  526488
I001     526023    526023  526023  526023
I002     525704    525704  525704  525704
I003     526046    526046  526046  526046
I004     526043    526043  526043  526043
I005     526250    526250  526250  526250
I006     525990    525990  525990  525990
I007     526021    526021  526021  526021
I008     526437    526437  526437  526437
I009     525828    525828  525828  525828

<p> <b>Findings:</b> There's 10 different users with id from 0-9. <p>

In [5]:
# obtain id = I000
user0_df = movement_df[movement_df["id"] == "I000"]
print(user0_df)

          id   longitude   latitude        date      time
0       I000 -122.335167  47.608013  2020-01-01  00:00:00
1       I000 -122.335168  47.608002  2020-01-01  00:01:07
2       I000 -122.335169  47.608598  2020-01-01  00:02:30
3       I000 -122.335168  47.608501  2020-01-01  00:03:40
4       I000 -122.335169  47.607648  2020-01-01  00:05:07
...      ...         ...        ...         ...       ...
526483  I000 -122.426741  47.572358  2020-12-30  23:56:41
526484  I000 -122.426741  47.572356  2020-12-30  23:57:14
526485  I000 -122.426741  47.572213  2020-12-30  23:58:03
526486  I000 -122.316388  47.618509  2020-12-30  23:59:13
526487  I000 -122.316388  47.617609  2020-12-31  00:00:26

[526488 rows x 5 columns]

In [6]:
# obtain id = I001
user1_df = movement_df[movement_df["id"] == "I001"]
print(user1_df)

           id   longitude   latitude        date      time
526488   I001 -122.335167  47.608013  2021-01-01  00:00:00
526489   I001 -122.335167  47.608416  2021-01-01  00:00:34
526490   I001 -122.335167  47.608363  2021-01-01  00:01:38
526491   I001 -122.335167  47.608621  2021-01-01  00:02:23
526492   I001 -122.335168  47.609453  2021-01-01  00:03:53
...       ...         ...        ...         ...       ...
1052506  I001 -122.283529  47.661327  2021-12-31  23:56:18
1052507  I001 -122.283528  47.661337  2021-12-31  23:57:20
1052508  I001 -122.283528  47.661537  2021-12-31  23:58:36
1052509  I001 -122.283528  47.661027  2021-12-31  23:59:21
1052510  I001 -122.333503  47.670401  2022-01-01  00:00:03

[526023 rows x 5 columns]

In [7]:
# obtain id = I002
user2_df = movement_df[movement_df["id"] == "I002"]
print(user2_df)

           id   longitude   latitude        date      time
1052511  I002 -122.335167  47.608013  2022-01-01  00:00:00
1052512  I002 -122.335166  47.608015  2022-01-01  00:00:59
1052513  I002 -122.335166  47.607992  2022-01-01  00:01:40
1052514  I002 -122.335166  47.607698  2022-01-01  00:03:06
1052515  I002 -122.335167  47.608117  2022-01-01  00:04:18
...       ...         ...        ...         ...       ...
1578210  I002 -122.304818  47.606004  2022-12-31  23:56:55
1578211  I002 -122.304818  47.606249  2022-12-31  23:57:37
1578212  I002 -122.304818  47.606304  2022-12-31  23:58:20
1578213  I002 -122.304817  47.605764  2022-12-31  23:59:26
1578214  I002 -122.304817  47.605323  2023-01-01  00:00:32

[525704 rows x 5 columns]

In [8]:
# obtain id = I003
user3_df = movement_df[movement_df["id"] == "I003"]
print(user3_df)

           id   longitude   latitude        date      time
1578215  I003 -122.335167  47.608013  2023-01-01  00:00:00
1578216  I003 -122.335167  47.608032  2023-01-01  00:01:06
1578217  I003 -122.335166  47.607914  2023-01-01  00:01:41
1578218  I003 -122.335165  47.607619  2023-01-01  00:03:10
1578219  I003 -122.335165  47.608035  2023-01-01  00:03:51
...       ...         ...        ...         ...       ...
2104256  I003 -122.306846  47.569950  2023-12-31  23:57:05
2104257  I003 -122.306846  47.570213  2023-12-31  23:57:54
2104258  I003 -122.306847  47.570342  2023-12-31  23:58:24
2104259  I003 -122.306847  47.570434  2023-12-31  23:59:04
2104260  I003 -122.306847  47.570633  2024-01-01  00:00:24

[526046 rows x 5 columns]

In [9]:
# obtain id = I004
user4_df = movement_df[movement_df["id"] == "I004"]
print(user4_df)

           id   longitude   latitude        date      time
2104261  I004 -122.335167  47.608013  2024-01-01  00:00:00
2104262  I004 -122.335168  47.608063  2024-01-01  00:01:20
2104263  I004 -122.335168  47.608062  2024-01-01  00:02:08
2104264  I004 -122.335167  47.608341  2024-01-01  00:03:20
2104265  I004 -122.335167  47.608580  2024-01-01  00:04:06
...       ...         ...        ...         ...       ...
2630299  I004 -122.401520  47.609645  2024-12-30  23:56:16
2630300  I004 -122.401520  47.609442  2024-12-30  23:57:38
2630301  I004 -122.401520  47.609116  2024-12-30  23:58:24
2630302  I004 -122.401522  47.609175  2024-12-30  23:59:25
2630303  I004 -122.401522  47.608958  2024-12-31  00:00:26

[526043 rows x 5 columns]

In [10]:
# obtain id = I005
user5_df = movement_df[movement_df["id"] == "I005"]
print(user5_df)

           id   longitude   latitude        date      time
2630304  I005 -122.335167  47.608013  2025-01-01  00:00:00
2630305  I005 -122.335167  47.608048  2025-01-01  00:00:54
2630306  I005 -122.335167  47.608114  2025-01-01  00:01:49
2630307  I005 -122.335167  47.608522  2025-01-01  00:02:29
2630308  I005 -122.335166  47.608717  2025-01-01  00:03:55
...       ...         ...        ...         ...       ...
3156549  I005 -122.310663  47.621918  2025-12-31  23:55:48
3156550  I005 -122.310664  47.621088  2025-12-31  23:57:10
3156551  I005 -122.310665  47.620794  2025-12-31  23:58:28
3156552  I005 -122.409557  47.593025  2025-12-31  23:59:35
3156553  I005 -122.310665  47.623651  2026-01-01  00:00:15

[526250 rows x 5 columns]

In [11]:
# obtain id = I006
user6_df = movement_df[movement_df["id"] == "I006"]
print(user6_df)

           id   longitude   latitude        date      time
3156554  I006 -122.335167  47.608013  2026-01-01  00:00:00
3156555  I006 -122.374718  47.593698  2026-01-01  00:00:58
3156556  I006 -122.374718  47.593699  2026-01-01  00:01:46
3156557  I006 -122.374718  47.593374  2026-01-01  00:02:52
3156558  I006 -122.374719  47.593362  2026-01-01  00:03:31
...       ...         ...        ...         ...       ...
3682539  I006 -122.374717  47.594371  2026-12-31  23:55:55
3682540  I006 -122.374716  47.594714  2026-12-31  23:56:54
3682541  I006 -122.374716  47.594682  2026-12-31  23:57:45
3682542  I006 -122.374716  47.594417  2026-12-31  23:58:37
3682543  I006 -122.374715  47.594027  2027-01-01  00:00:04

[525990 rows x 5 columns]

In [12]:
# obtain id = I007
user7_df = movement_df[movement_df["id"] == "I007"]
print(user7_df)

           id   longitude   latitude        date      time
3682544  I007 -122.335167  47.608013  2027-01-01  00:00:00
3682545  I007 -122.335167  47.608077  2027-01-01  00:00:30
3682546  I007 -122.335168  47.608177  2027-01-01  00:01:06
3682547  I007 -122.335168  47.608712  2027-01-01  00:02:22
3682548  I007 -122.335168  47.608730  2027-01-01  00:03:21
...       ...         ...        ...         ...       ...
4208560  I007 -122.310666  47.624261  2027-12-31  23:58:01
4208561  I007 -122.310666  47.624190  2027-12-31  23:58:35
4208562  I007 -122.310666  47.624302  2027-12-31  23:59:16
4208563  I007 -122.310666  47.624187  2027-12-31  23:59:53
4208564  I007 -122.310666  47.624286  2028-01-01  00:00:49

[526021 rows x 5 columns]

In [13]:
# obtain id = I008
user8_df = movement_df[movement_df["id"] == "I008"]
print(user8_df)

           id   longitude   latitude        date      time
4208565  I008 -122.335167  47.608013  2028-01-01  00:00:00
4208566  I008 -122.335167  47.608116  2028-01-01  00:01:30
4208567  I008 -122.426740  47.572239  2028-01-01  00:02:08
4208568  I008 -122.426740  47.571909  2028-01-01  00:03:10
4208569  I008 -122.426739  47.571937  2028-01-01  00:03:57
...       ...         ...        ...         ...       ...
4734997  I008 -122.371733  47.688565  2028-12-30  23:56:21
4734998  I008 -122.374718  47.593698  2028-12-30  23:57:14
4734999  I008 -122.374718  47.594285  2028-12-30  23:58:40
4735000  I008 -122.374718  47.594167  2028-12-30  23:59:22
4735001  I008 -122.283529  47.660922  2028-12-31  00:00:38

[526437 rows x 5 columns]

In [14]:
# obtain id = I009
user9_df = movement_df[movement_df["id"] == "I009"]
print(user9_df)

           id   longitude   latitude        date      time
4735002  I009 -122.335167  47.608013  2029-01-01  00:00:00
4735003  I009 -122.335167  47.607939  2029-01-01  00:00:55
4735004  I009 -122.335167  47.608053  2029-01-01  00:02:09
4735005  I009 -122.335167  47.608076  2029-01-01  00:03:20
4735006  I009 -122.335167  47.608227  2029-01-01  00:03:51
...       ...         ...        ...         ...       ...
5260825  I009 -122.409557  47.594471  2029-12-31  23:56:32
5260826  I009 -122.409557  47.594432  2029-12-31  23:57:38
5260827  I009 -122.409557  47.594305  2029-12-31  23:58:09
5260828  I009 -122.409557  47.594445  2029-12-31  23:59:20
5260829  I009 -122.409558  47.594986  2030-01-01  00:00:32

[525828 rows x 5 columns]

In [15]:
# write clean data into separate csv files
# this step will provide us with an easy way to access the separated data whether in R or Python and will get around the Github file size restriction.

user0_df.to_csv("./CleanData/movements_0.csv", index=False)
user1_df.to_csv("./CleanData/movements_1.csv", index=False)
user2_df.to_csv("./CleanData/movements_2.csv", index=False)
user3_df.to_csv("./CleanData/movements_3.csv", index=False)
user4_df.to_csv("./CleanData/movements_4.csv", index=False)
user5_df.to_csv("./CleanData/movements_5.csv", index=False)
user6_df.to_csv("./CleanData/movements_6.csv", index=False)
user7_df.to_csv("./CleanData/movements_7.csv", index=False)
user8_df.to_csv("./CleanData/movements_8.csv", index=False)
user9_df.to_csv("./CleanData/movements_9.csv", index=False)